root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# make requires a literal tab as the first character of every recipe line
[Makefile]
indent_style = tab

[*.s]
indent_style = tab
